.dark.hero { background-color: transparent; }
.value {
	display: block;
	color: #fff;
	font-size: 52px;
	font-weight: 300;
	padding-bottom: 20px;
	padding-top: 50px;
}
.introtext { padding-top: 30px; }
